@model LeaveTypeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DefaultOfDays)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DefaultOfDays)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a> &nbsp;
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
